<!-- <h2>Committees</h2>
  {{#each model as |committee|}}
    <h3>{{#link-to 'subcommittees' committee.committee_id}}{{committee.name}}{{/link-to}}
    </h3>
    <h4> Chamber: {{committee.chamber}}</h4>
  {{/each}} -->
