<div class="container">
  <nav class='navbar navbar-default navbar-fixed-top'>
      <button type="button" class="link btn btn-default navbar-btn">{{#link-to 'index'}}Home{{/link-to}}</button>
      <button type="button" class="link btn btn-default navbar-btn">{{#link-to 'bills'}}Bills{{/link-to}}</button>
      <button type="button" class="link btn btn-default navbar-btn">{{#link-to 'upcomingbills'}}Upcoming Bills{{/link-to}}</button>

  </nav>
  <br>
  <br>
  {{outlet}}
</div>
