<!-- <div class="container"> -->
  {{lookup-form zipLookup="zipLookup"}}
  <br>


<button {{action 'comLookup'}}>Committees</button>
  <!-- {{#link-to "committee-route" tagName="button"}}Committees{{/link-to}} -->
<!-- </div> -->
